 .u-section-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 684px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 658px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 130px;
  width: 293px;
  height: auto;
  --radius: 100px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -162px 53px 32px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -54px 0 6px 80px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 684px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  margin: 40px auto 0 0;
  padding: 18px 40px 19px 39px;
}

.u-section-1 .u-group-2 {
  min-height: 70px;
  width: 262px;
  height: auto;
  margin: -61px auto 0 208px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 60px;
  height: 60px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 600;
  margin: -60px 0 0 86px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 635px;
    margin-top: 19px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -152px;
    margin-right: 0;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.4375rem;
    margin-top: 88px;
  }

  .u-section-1 .u-group-2 {
    width: 248px;
    margin-left: 207px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 622px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    width: 380px;
    height: 589px;
    margin-top: 33px;
    margin-left: 124px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -206px;
    margin-right: 53px;
    margin-left: 323px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 503px;
    order: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -62px;
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 370px;
    height: 573px;
    margin-top: 16px;
    margin-left: 62px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -284px;
    margin-bottom: 164px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: -61px;
    margin-right: 75px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 511px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 124px;
    width: 249px;
    margin: -215px 0 0 auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -48px;
    margin-bottom: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.625rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 371px;
  --gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 102px;
  height: 102px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-1 {
  width: 70px;
  height: 70px;
  margin: -86px auto 0 16px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  margin: 40px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 102px;
  height: 102px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 70px;
  height: 70px;
  margin: -86px auto 0 16px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 102px;
  height: 102px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-3 {
  width: 70px;
  height: 70px;
  margin: -86px auto 0 16px;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 40px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 102px;
  height: 102px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-4 {
  width: 70px;
  height: 70px;
  margin: -86px auto 0 16px;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 40px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 728px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 787px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 331px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 0 29px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 423px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 228px;
  --radius: 50px;
  width: 243px;
  margin: 28px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 393px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 251px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 1px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 494px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 394px;
  --radius: 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    height: 179px;
    width: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 207px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-3 .u-image-2 {
    height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 244px;
    width: 284px;
    margin-right: 47px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 623px;
  }

  .u-section-3 .u-image-2 {
    height: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3.125rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-3 .u-image-1 {
    height: 271px;
    width: 315px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 294px;
  }

  .u-section-3 .u-image-2 {
    height: 240px;
  }
} .u-section-4 {
  padding-right: 0;
  padding-left: 0;
  min-height: 669px;
}

.u-section-4 .u-group-1 {
  height: auto;
  min-height: 304px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 65px 95px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  margin-top: -128px;
  margin-bottom: -340px;
}

.u-section-4 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 428px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
  transition-duration: 0.5s;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
  transition-duration: 0.5s;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
  transition-duration: 0.5s;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --bottom-right-radius: 50px;
  transition-duration: 0.5s;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 594px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -415px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 353px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-1 {
    height: 293px;
  }

  .u-section-4 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    height: 293px;
  }

  .u-section-4 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-3 {
    height: 293px;
  }

  .u-section-4 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-4 {
    height: 293px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1375px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 65px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1082px;
  }

  .u-section-4 .u-image-1 {
    height: 502px;
  }

  .u-section-4 .u-image-2 {
    height: 502px;
  }

  .u-section-4 .u-image-3 {
    height: 502px;
  }

  .u-section-4 .u-image-4 {
    height: 502px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1101px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -147px;
    margin-bottom: -18px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 879px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-4 .u-image-1 {
    height: 370px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-4 .u-image-2 {
    height: 370px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 25px;
  }

  .u-section-4 .u-image-3 {
    height: 370px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 25px;
  }

  .u-section-4 .u-image-4 {
    height: 370px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2624px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -117px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 2382px;
  }

  .u-section-4 .u-image-1 {
    height: 538px;
  }

  .u-section-4 .u-image-2 {
    height: 538px;
  }

  .u-section-4 .u-image-3 {
    height: 538px;
  }

  .u-section-4 .u-image-4 {
    height: 538px;
  }
}

.u-section-4 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  border-radius: 50px !important;
}

.u-block-8c46-19:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c46-19:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c46-19:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8c46-19.u-block-8c46-19.u-block-8c46-19:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-block-8c46-19.u-block-8c46-19.u-block-8c46-19.hover {
  border-radius: 50px !important;
}

.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8c46-22.u-block-8c46-22.u-block-8c46-22:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-block-8c46-22.u-block-8c46-22.u-block-8c46-22.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-2.u-container-layout-2.u-container-layout-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-2.u-container-layout-2.u-container-layout-2.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-3.u-container-layout-3.u-container-layout-3:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-3.u-container-layout-3.u-container-layout-3.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-4.u-container-layout-4.u-container-layout-4:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-4.u-container-layout-4.u-container-layout-4.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-section-4 .u-container-layout-5.u-container-layout-5.u-container-layout-5.hover {
  border-radius: 50px !important;
}

.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c46-22:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8c46-22.u-block-8c46-22.u-block-8c46-22:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-block-8c46-22.u-block-8c46-22.u-block-8c46-22.hover {
  border-radius: 50px !important;
}

.u-block-8c46-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c46-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c46-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8c46-25.u-block-8c46-25.u-block-8c46-25:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-block-8c46-25.u-block-8c46-25.u-block-8c46-25.hover {
  border-radius: 50px !important;
}

.u-block-8c46-30:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c46-30:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c46-30:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8c46-30.u-block-8c46-30.u-block-8c46-30:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 50px !important;
}

.u-block-8c46-30.u-block-8c46-30.u-block-8c46-30.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-4,
.u-section-4 .u-image-4:before,
.u-section-4 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 50px !important;
}

.u-section-4 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 50px !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 335px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 206px;
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  width: 94px;
  height: 94px;
  background-image: none;
  margin: 63px auto 0 0;
  padding: 21px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -82px 0 0 109px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: none;
  margin: 15px 0 0 109px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 206px;
  background-image: none;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  --top-left-radius: 50px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --radius: 100px;
  margin: 46px auto 0 21px;
  padding: 15px 27px 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 214px;
    --top-left-radius: 50px;
    --bottom-left-radius: 50px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    margin-top: -87px;
    margin-left: 123px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-left: 123px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 179px;
    --top-right-radius: 50px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -80px;
    margin-left: 125px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 125px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
    --bottom-left-radius: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -87px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 744px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 284px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  --radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  margin: 30px auto -1px 0;
  padding: 18px 40px 19px 39px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 505px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 564px;
}

.u-section-6 .u-image-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/04.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto;
}

.u-section-6 .u-image-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/05.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  margin: 0 auto;
}

.u-section-6 .u-image-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/06.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-text-6 {
  margin: 0 auto;
}

.u-section-6 .u-image-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/07.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  margin: 0 auto;
}

.u-section-6 .u-image-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/08.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-text-8 {
  margin: 0 auto;
}

.u-section-6 .u-image-6 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/09.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px;
}

.u-section-6 .u-text-9 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 924px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 864px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 788px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px 30px 0;
}

.u-section-7 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 598px;
  --radius: 50px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 639px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-7 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: -49px 0 0 60px;
}

.u-section-7 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0 60px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-7 .u-icon-2 {
  width: 49px;
  height: 49px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  margin: -49px 0 0 60px;
}

.u-section-7 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0 60px;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-7 .u-icon-3 {
  width: 49px;
  height: 49px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  margin: -49px 0 0 60px;
}

.u-section-7 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0 60px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 219px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-btn-2 {
  --radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 18px 40px 19px 39px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-7 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 400px;
  --radius: 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 729px;
  }

  .u-section-7 .u-image-1 {
    height: 487px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 729px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 451px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    width: auto;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 399px;
  }

  .u-section-7 .u-image-2 {
    height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-7 .u-image-1 {
    height: 564px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 377px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 15px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 15px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 15px;
    margin-left: 60px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 812px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-7 .u-image-2 {
    height: 758px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1762px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 717px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 573px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 318px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 609px;
  }

  .u-section-7 .u-image-2 {
    height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1824px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -18px;
    margin-bottom: -18px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-7 .u-image-1 {
    height: 446px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 69px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 12px;
    margin-left: 69px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 69px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 12px;
    margin-left: 69px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 69px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 12px;
    margin-left: 69px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-7 .u-image-2 {
    height: 358px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 912px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 709px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-2 {
  margin: 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-8 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-10 {
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 709px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 647px;
  object-position: 55.03% 0.15%;
  --top-left-radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-right-radius: 50px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 29px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 776px;
  }

  .u-section-8 .u-image-1 {
    height: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 772px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-image-1 {
    height: 712px;
    width: 630px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1591px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 694px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-8 .u-image-1 {
    height: 432px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}